/**
* Color definitions.
*/
$primary: grey;
$white: rgb(255, 255, 255);
$gray: rgb(128, 128, 128);
$grey: $gray;
$gray-dark: rgb(55, 55, 55);
$bg-color: rgb(244, 244, 244);

/**
* Font colors
*/
$font-color: rgb(52, 52, 52);
$font-light: lighten($font-color, 10);
$font-dark: darken($font-color, 10);
$font-error: #f54740;
$font-warning: #fdc856;
$font-success: #49b86e;

/**
 * DARK MODE
 */
$font-color-dark: #c1bab0;
$font-dark-light: darken($font-color-dark, 10);
$bg-color-dark: #1f1f1f;

$font-select: $font-color;
$font-select-background: lightseagreen;

$font-select-dark: $font-color;
$font-select-background-dark: lightseagreen;

/**
* Link colors
*/
$link-color: darken($font-select-background, 20);
$link-hover: darken($link-color, 5);
$link-active: lighten($link-hover, 10);
$link-visited: lighten($link-color, 15);

$link-color-dark: $font-color-dark;
$link-hover-dark: lighten($link-color-dark, 10);
$link-active-dark: lighten($link-hover-dark, 10);
$link-visited-dark: darken($link-color-dark, 15);

/**
 * Borders
 */
$border-color: grey;
$border-radius: 0px;

/**
* Forms
*/
$forms-border-color: $border-color;
$forms-border-color-focus: darken($border-color, 10);
$forms-background-color: $white;
