$color-primary: grey;
$color-white: rgb(255, 255, 255);
$color-border: grey;

$color-font-error: #f54740;
$color-font-warning: #fdc856;
$color-font-success: #49b86e;

$color-forms-border: $color-border;
$color-forms-border-focus: darken($color-border, 10);
$color-forms-background: $color-white;


//LIGHT THEME
$color-gray: rgb(100, 87, 87);
$color-bg: rgb(244, 244, 244);

$color-font: rgb(52, 52, 52);
$color-font-light: lighten($color-font, 10);
$color-font-dark: darken($color-font, 10);

$color-font-select: $color-font;
$color-font-select-background: lightseagreen; 

$color-link: darken($color-font-select-background, 20);
$color-link-hover: darken($color-link, 5);
$color-link-active: lighten($color-link-hover, 10);
$color-link-visited: lighten($color-link, 15);

$color-btn-bg: #e2e2e2;
$color-btn-border: #4e4e4e;

$color-logo-black: rgba(0, 0, 0, 1);
$color-logo-white: var($color-bg);

$color-nav-bg: transparent;


//DARK THEME
$color-gray-dark: rgb(55, 55, 55);
$color-bg-dark: #1f1f1f;

$color-font-dark: #c1bab0;
$color-font-light-dark: darken($color-font-dark, 10);

$color-link-dark: $color-font-dark;
$color-link-hover-dark: lighten($color-link-dark, 10);
$color-link-active-dark: lighten($color-link-hover-dark, 10);
$color-link-visited-dark: darken($color-link-dark, 15);

$color-btn-bg-dark: #343435;
$color-btn-border-dark: #c1bab0;

$color-logo-black-dark: rgba(74, 74, 77, 0.8);
$color-logo-white-dark: $color-bg-dark;

$color-nav-bg-dark: #1b1b1b;