/**
* Font settings
*/
@import "../../../../node_modules/mathsass/dist/math";
@import "../../../../node_modules/modularscale-sass/stylesheets/_modularscale.scss";

$modularscale: (
    base: 1.125em,
    ratio: 1.5at3,
    23.333em: (
        ratio: 1.3at3
    ),
    53.333em: (
        ratio: 1.5at3
    ),
    80em: (
        ratio: 2at3
    )
);

$font-smaller : ms(-2);
$font-small : ms(-1);
$font-normal: ms(0);
$font-big   : ms(1);
$font-bigger: ms(2);
$font-large : ms(3);
$font-huge  : ms(4);