/**
* Additional
*/

@mixin user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    cursor: default;
}

@mixin font-face($name, $path:'', $style:normal, $weight:400) {
    @font-face {
        font-family: $name;
        src: local('#{$name}'), url('#{$path}.woff2') format('woff2'), /* Modern Browsers */
             url('#{$path}.woff') format('woff'), /* Modern Browsers */
             url('#{$path}.ttf')  format('truetype'); /* Safari, Android, iOS */

        font-style:   $style;
        font-weight:  $weight;
        font-display: swap;
    }
}

@mixin table-hide-column($name, $column) {
    .hide-#{$name}--#{$column} {
        th,
        td{
            &:nth-child(#{$column}){
                display: none !important;
            }
        }
    }
}

@mixin clearfix{
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}