@import "base";

button,
.button,
.btn{
    font-family: $font-buttons;
    padding: 0 lines(0.5);
    border-radius: $border-radius;

    &:hover{
        cursor: pointer;
    }

    &:active,
    &:focus{
        outline: none;
    }
}