.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.is-visible {
  opacity: 1;
}

.center {
  display: flex;
  justify-content: center;
}

.no-border,
.no-border *{
  border: 0 !important;
}

@include media-max-small {
  .hide-small {
    display: none !important;
  }
}

@include media-max-medium {
  .hide-medium {
    display: none !important;
  }
}

@include media-max-large {
  .hide-large {
    display: none !important;
  }
}

@media (min-width: em($width-small)) {
  .show-small {
    display: none !important;
  }
}
