/**
 * Tables
 */

table {
  width: 100%;

  border-collapse: collapse;
  border: 1px solid var(--color-border);
  font-size: $font-small;
}

th,
td {
  font-weight: normal;
  padding: $tables-padding;
  border: 1px solid var(--color-border);
}

@include media-max-small {
  @include table-hide-column("small", 1);
  @include table-hide-column("small", 2);
  @include table-hide-column("small", 3);
  @include table-hide-column("small", 4);
}

@include media-max-medium {
  @include table-hide-column("medium", 1);
  @include table-hide-column("medium", 2);
  @include table-hide-column("medium", 3);
  @include table-hide-column("medium", 4);
}
