/**
* Basic typography settings.
*/

* html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  font-weight: 450;
  color: $font-color;
  background-color: $bg-color;

  font-feature-settings: "kern" on, "dlig" off, "liga" on, "frac" off,
    "swsh" off;

  @include media-dark {
      background-color: $bg-color-dark;
      color: $font-color-dark;
      font-weight: 400;
  }
}

.flow > * + *{
  margin-top: lines(1);
}

.no-flow > * + *{
  margin-top: 0;
}

a {
  font-family: $font-links;
  color: $link-color;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }

  &:visited {
    color: $link-visited;
  }

  @include media-dark{
    color: $link-color-dark;

    &:hover {
      color: $link-hover-dark;
    }

    &:active {
      color: $link-active-dark;
    }

    &:visited {
      color: $link-visited-dark;
    }
  }

  &.no-hover {
    font-family: $font-normal;
    color: unset;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      font-weight: unset;
      color: unset;
    }

    &:active {
      text-decoration: none;
      color: unset;
    }

    &:visited {
      text-decoration: none;
      color: unset;
    }
  }
}

li {
  margin: 0 0 0 lines(1);
  padding: lines(0.1) 0;
}

/**
* Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  // line-height: 1.125;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "swsh" off, "kern" on, "dlig" off, "liga" on,
    "frac" off;
}

h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.italic,
i,
em {
  font-style: italic;
}

.bold,
b,
strong {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-ellipsis{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-text {
  font-family: $font-text;
}

.font-heading {
  font-family: $font-heading;
}

.font-light{
  font-weight: 350;
  color: $font-light;

  @include media-dark{
    color: $font-dark-light;
  }
}

td {
  vertical-align: baseline;
}

hr {
  margin: lines(1) auto;
  width: 100%;
  height: 0px;
  border: 0px;
  border-bottom: 1px solid $border-color;
}

//add quotation marks
blockquote {
  font-style: italic;

  p:before {
    content: "\201C";
  }

  p:after {
    content: "\201D";
  }
}

address {
  font-style: inherit;
}

*:focus{
  outline: 2px solid $font-select-background;

  @include media-dark{
    outline: 2px solid $font-select-background-dark;
  }
}

::selection {
  background-color: $font-select-background;
  color: $font-select;
  
  @include media-dark {
    background-color: $font-select-background-dark;
    color: $font-select-dark;
  }
}

