button,
.btn,
.button,
a.btn,
a.button {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;

  height: auto;

  margin: 0 0.5em;
  padding: 0.25em 0.5em;
  
  color: inherit;
  text-align: center;
  text-decoration: none;
  
  background-color: var(--color-btn-bg);
  border: 2px solid var(--color-btn-border);

  transition: background-color 0.15s ease-in-out;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    transform: scale(0.99);
    outline: 0;
  }
}

.btn__sub{
  &:before {
    content: "\00ab";
  }

  &:after {
    content: "\00bb";
  }
}