.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item{
  flex-grow: 1;
  width: lines(8);
  margin: 0 lines(0.5) lines(1);
}

.gallery__image,
.gallery__title{
  margin: 0;
}

.gallery__image{
  display: block;
  height: lines(8);
  
  img{
    height: 100%;
    object-fit: cover;
  }
}