.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  margin: 0 lines(0.5) lines(1);

  &:first-child{
    flex-basis: 100%;
  }

}

.gallery__image,
.gallery__title{
  margin: 0;
}

.gallery__image{
  display: block;
  height: lines(6);

  .gallery__item:first-child &{
    height: lines(8);
  }
  
  img{
    height: 100%;
    object-fit: cover;
  }
}