.header{
  position: absolute;
  width: 100%;
  height: lines(2);
  top: 0;
}

.header__nav{
  @extends .header;
  
  @include media-medium{
    transition: transform 0.15s linear;
    transform: translateY(#{lines(-3)});
  }

  .show-nav &{
    transform: translateY(0);
  }
}

.header__small{
  @extend .header;

  .logo{
    margin: 0 auto;
  }
  
  transition: transform 0.15s linear;
  transform: translateY(0);
    
  .show-nav &{
    transform: translateY(#{lines(-3)});
  }
}