%header{
  @include media-medium{
    position: absolute;
    width: 100%;
    height: lines(2);
    top: 0;
  }
}

.header__nav{
  @extend %header;
  
  @include media-medium{
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.320, 1) 1s;
    transform: translateY(#{lines(-3)});

    .show-nav &{
      transition-delay: 0s;
      transform: translateY(0);
    }
  }

}

.header__small{
  @extend %header;

  @include media-medium{
    .logo{
      margin: 0 auto;
    }
    
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.320, 1) 1s;
    transform: translateY(0);
      
    .show-nav &{
      transition-delay: 0s;
      transform: translateY(#{lines(-3)});
    }
  }

}