.grid{

  @include media-medium{
    display: grid;
    max-width: 100%;

    /**
      * (-- LEFT-COL --) CENTER (-- RIGHT-COL --)
      *       (---------- BLEED ---------)
      * LEFT | BLEED-L | CENTER | BLEED-R | RIGHT
      */
      grid-template-columns:
        [ left-col-start
          left-start ]
            minmax(0, 1fr)                //LEFT
        [ left-end 
          bleed-start 
          bleed-l-start ]
            minmax(auto, lines(4))        //BLEED-L
        [ bleed-l-end 
          left-col-end 
          center-start ] 
            minmax(lines(18), lines(24))  //CENTER  
        [ center-end 
          right-col-start
          bleed-r-start ]
            minmax(auto, lines(4))        //BLEED-R
        [ bleed-r-end 
          bleed-end 
          right-start ]
            minmax(0, 1fr)                //RIGHT
        [ right-end
          right-col-end ]
      ;
  }

  @include media-full{
    > .pull-left{
      grid-column: left;
    }
    
    > .pull-right{
      grid-column: right;
    }
  }
}

header,
main,
footer{
  margin: 0 auto;
  max-width: em($max-width);
}


header{
  position: relative;

  @include media-medium{
    height: lines(2);
    overflow: hidden;
    will-change: transform;
  }
}

main{
  margin-top: lines(2);
}

header,
main{
  @include media-max-medium{
    padding: 0 lines(0.5);
  }
}

footer{
  margin: lines(1) auto 0;
}
