@include loader(1rem, 0, grey, x, 0.75s);

.page-title{
  margin: lines(1) auto;
  padding: 0 lines(0.5);
  
  @include media-medium{
    margin: lines(3) auto lines(2);
  }

  &.text-only{
    @include media-medium{
      margin: lines(3) auto 0;
    }

    h1{
      border:0;
    }
  }
  
  h1,
  h2,
  h3 {
    grid-column: center;
    padding: 0 lines(1) lines(.5);
    
    font-weight: 450;
    text-align: center;
    
    @extend .happy-border;
    border-bottom: 2px solid var(--color-border);
    border-width: 0 0 2px 0;
  }

  h1{
    font-size: $font-giant;

    @include media-max-small{
      border-bottom: none;
    }
  }

  h2{
    grid-column: bleed;
    font-size: $font-huge;
  }
}

#loader {
  text-align: center;
}

video {
  width: 100%;
  height: auto;

  border: 1px solid transparent;

  &:focus {
    outline: 1px solid lightgray;
  }
}

picture,
img{
  display: block;
}

.bg-color{
  background: linear-gradient(120deg, rgba(113,6,144,1) 0%, rgba(13,13,199,1) 30%, rgb(2, 180, 141) 100%);
  filter: hue-rotate(35deg) saturate(0.75);
}

.animated-bg-color{
  @extend .bg-color;

  color: $color-bg;

  @include media-dark{
    color: darken($color-bg, 5);

    a{
      color: darken($color-bg, 5);
    }
  }

  animation-duration: 10s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  animation-name: bgcolor-1;
  
  @keyframes bgcolor-1 {
    0% {
      filter: hue-rotate(35deg) saturate(0.75);
    }
    25%{
      filter: hue-rotate(25deg) saturate(0.75);
    }
    50% {
      filter: hue-rotate(35deg) saturate(0.75);
    }
    75%{
      filter: hue-rotate(45deg) saturate(0.75);
    }
    100% {
      filter: hue-rotate(35deg) saturate(0.75);
    }
  }
}

.clip-circle{
  clip-path: circle(50% at 50% 50%);
}

.happy-border{
  border-image: linear-gradient(120deg, rgba(113,6,144,1) 0%, rgba(13,13,199,1) 30%, rgb(2, 180, 141) 100%);
  border-image-slice: 1;
}

.table-equal{
  th{
    font-weight: 600;
  }

  td{
    width: 50%;
  }
}

.browser{
  &:not(video){
    height: max-content;
  }

  margin-top: lines(2);
  overflow: hidden;

  @media (max-width: em($max-width)){
    margin: lines(1) lines(0.5);
  }

  background: url('/static/img/browser.svg') rgb(51 54 55);
  background-repeat: no-repeat;
  background-size:95%;
  padding-top: 40px;
  border: 0;
  border-radius: 3px;

  filter: drop-shadow(0 0 3px var(--color-shadow));
}