.nav{
  display: flex;
  justify-content: space-evenly;

  li{
    margin: 0;
    padding: 0 lines(0.5);
    list-style: none;
    text-align: center;

    @extend .happy-border;
    border: 2px solid;

    &:nth-child(1) {border-width: 2px 0 0 0px;}
    &:nth-child(2) {border-width: 0 0 2px 2px;}
    &:nth-child(3) {border-width: 2px 2px 0 2px;}
    &:nth-child(4) {border-width: 0px 2px 0 0px;}
    
    &.is-active{
      font-weight: 800;
    }
  }
  
  a{
    text-decoration: none;
    color: inherit;

    &:visited{
      color: inherit;
    }
  }
}

.nav--main{
  @extend .nav;
  
  // border-bottom: 1px solid var(--color-border);
  
  align-items: center;

  @include media-medium{
    grid-column: center;
    justify-self: center;
    margin: 0;
    // border: 0;
  }
  
  ul {
    display: flex;
    flex-flow: column;
    
    @media (min-width: em(455px)) {
      flex-flow: row;
    }
  }

  li{
      
    a{
      padding: lines(0.125);
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }

    &.is-active{
      a{
        border-bottom: 2px solid var(--color-font-select-background);
      }
  
      &:nth-child(2){
        a{
          border-bottom-color: transparent;
          border-top: 2px solid var(--color-font-select-background);
        }
      }
    }
  }
}

.nav--post{
  @extend .nav;

  min-height: lines(2);
  
  & > a{
    flex-grow: 1;
    margin: 0.1em;
  }
}