.post{
  margin: lines(3) 0;
  
  & > *{
    grid-column: center;
    align-self: center;
  }
  
  @include media-medium{
  
    & > img,
    & > picture,
    & > video,
    & > pre{
      grid-column: bleed;
    }
  }
}

.post__date{
  font-weight: 200;
  line-height: 1.125;
}

.post__info{
  td{
    vertical-align: middle;
    border-color: darken($bg-color, 15);
  }
  
  li{
    margin-left: 0;
    padding: 0;
    list-style: none;
  }
  
  :not(:first-child){
    td:first-child{
      font-weight: 800;
      text-align: right;
    }
  }

  @media (min-width: em($width-medium)) and (max-width: em(1400px)){
    border: 0;

    thead,
    tbody,
    tr,
    td{
      display: block;
      text-align: left !important;
    }

    td{
      padding: lines(0.25) 0 lines(0.25);
      border :0;
    }

    tr:first-child{
      border-bottom: 1px solid $bg-color;
      padding-bottom: lines(0.5);
      margin-bottom: lines(0.5);
    }
    
    tr:not(:first-child) td:first-child{
      padding-bottom: 0;
    }
    
    tr:not(:first-child) td:last-child{
      padding-top: 0;
    }

    tr:last-child td{
      padding-bottom: 0;
    }
  }
}