.post--portfolio{
  @extend .post;
}

.portfolio-gallery{
  grid-column: bleed;

  .post__date{
    font-size: $font-smaller;
  }

  .gallery__item{
    border: 2px solid transparent;
    transform: scale(1);
    min-width: em(250px);

    &:hover{
      border-image: linear-gradient(120deg, rgba(113,6,144,1) 0%, rgba(13,13,199,1) 30%, rgb(2, 180, 141) 100%);
      border-image-slice: 1;

      .gallery__image{
        img{
          transform: scale(1.2, 1.1);
        }
      }
    }

    &:active{
      transform: scale(.995);
    }

    & > article{
      position: relative;
    }

    &:nth-child(2n-1) .gallery__title{
      animation-duration: 5s;
      animation-delay: 1s;
    }

    &:nth-child(3n-1) .gallery__title{
      animation-duration: 6s;
      animation-delay: 2s;
    }

    &:nth-child(4n-1) .gallery__title{
      animation-duration: 7s;
      animation-delay: 3s;
    }

    &:nth-child(5n-1) .gallery__title{
      animation-duration: 8s;
      animation-delay: 4s;
    }
  }

  .gallery__title{
    padding-bottom: lines(0.25);
    
    @include media-medium{
      padding: lines(0.5);
      height: lines(4);
    }
    
    text-align: center;
  }

  .gallery__image{
    overflow: hidden;
    
    img{
      transition: transform .9s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: scale(1, 1);
    }
  }
}