.post-hero{
  grid-column: span left-start / right-end;

  margin: 0;
  padding: lines(1) lines(0.5) lines(0.5);

  @include media-medium{
    padding: lines(1) lines(1) lines(0.5);
  }

  @media (min-width: em(1110px)) {
    margin: 0 0 lines(1);
    padding-bottom: lines(2);
  }
  
  display: flex;
  flex-wrap: wrap;

  &>.left{
    flex-grow: 1;
    flex-basis: 400px;

    @media (min-width: em(1110px)) {
      padding-right: lines(1);
    }
  }

  &>.right{
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 650px;
  }
}

.post__hgroup{
  .post-hero &{
    margin-bottom: lines(1);
    
    @media (min-width: em(1110px)) {
      text-align: left;
    }
  }
}

.post__info{
  .post-hero &{
    margin: auto;
    max-width: em(550px);
  }
}

.post-hero__image{
  .post-hero &{
    display: flex;
    height: 100%;
    max-height: 100%;

    margin-bottom: lines(2);

    .browser{
      margin: lines(0.5) 0 0;
      align-self: center;
      filter: hue-rotate(-35deg) saturate(1);
      
      @include media-max-large{
        margin: lines(0.5) lines(0.5) 0;
      }
    }

    :not(.browser) {
      img,
      video{
        height: 100%;
        
        @media (max-width: em(1110px)){
          padding: lines(0.5) lines(0.5) lines(1);
        }
      }
      img,
      video{
        height: 100%;
        object-fit: cover;
      }
    }

  }
}