.post--listing {
  @extend .post;

  max-width: lines(32);
  margin-left: auto;
  margin-right: auto;

  & > *{
    align-self: unset;
  }

  column-gap: lines(1);
  grid-template-rows: auto auto;
}

.post__date {

  .post--listing &{
    grid-column: bleed-l;
    grid-row: 1;
    width: min-content;

    justify-self: right;
    text-align: right;
  
    @include media-medium{
      font-size: $font-huge;
    }
  }

}

.post__heading {
  
  .post--listing &{
    grid-column: span center-start / bleed-r;
    grid-row: 1;

    margin-top: 0;

    line-height: 1.125em;
  }
}

.post__preview {
  grid-column: left-col;
  grid-row: 2;
  justify-self: right;
  height: 100%;

  max-width: lines(6);

  .preview-content{
    height: 100%;
    margin: 0 0 0 lines(0.5);

    filter: blur(1px);

    transition-property: filter, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: $font-smaller;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }

  img{
    height: 100%;
    object-fit: cover;    
  }
}

.post__teaser {
  grid-column: span center-start / bleed-r;
  @include media-large{
    grid-column: center;
  }

  grid-row: 2;
  align-self: start;
}

.post-link{
  display: block;

  &:hover{
    .post__preview .preview-content {
      filter: blur(0);
    }
  }
}