.post--portfolio{
  @extend .post;

  margin-top: lines(1);
}

.portfolio-gallery{
  grid-column: bleed;
  margin-top: lines(2);

  .post__date{
    font-size: $font-smaller;
  }

  .gallery__item{

    border: 2px solid transparent;
    

    &:hover{
      border-image: linear-gradient(120deg, rgba(113,6,144,1) 0%, rgba(13,13,199,1) 30%, rgb(2, 180, 141) 100%);
      border-image-slice: 1;
    }

    & > article{
      position: relative;
    }

    &:nth-child(2n-1) .gallery__title{
      animation-duration: 2s;
      animation-delay: 1s;
    }

    &:nth-child(3n-1) .gallery__title{
      animation-duration: 3s;
      animation-delay: 2s;
    }

    &:nth-child(4n-1) .gallery__title{
      animation-duration: 4s;
      animation-delay: 3s;
    }

    &:nth-child(5n-1) .gallery__title{
      animation-duration: 5s;
      animation-delay: 4s;
    }

    min-width: 250px;
  }

  .gallery__title{
    padding-bottom: lines(0.25);
    
    @include media-medium{
      padding: lines(0.5);
      height: lines(4);
    }
    
    text-align: center;
  }
}