.post-hero{
  grid-column: span left-start / right-end;

  margin: 0 0 lines(1);
  padding: lines(1) lines(1) lines(2) lines(1);  
  
  @include media-large{
    column-gap: lines(1);
  }
  
  @include media-full{
    column-gap: lines(2);
    padding: lines(2) lines(2) lines(3) lines(2);
  }
}

.post__hgroup{
  .post-hero &{
    grid-column: center;
    margin-bottom: lines(0.5);

    @include media-large{
      grid-column: left-col;
      text-align: left;
    }
  }
}

.post__info{
  .post-hero &{
    grid-column: center;
    height: 100%;
    margin-top: 0;
    
    @include media-large{
      grid-column: left-col;
    }
  }
}

.post-hero__image{
  
  .post-hero &{
    grid-column: bleed;
    margin-top: lines(1.25);

    @include media-large{
      grid-column: span center-start / right-end;
      grid-row: 1 / span 2;
    }

    picture,
    video{
      height: 100%;
    }

    img,
    video{
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}