@import "base/base";

html,
body{
    font-size: $font-normal;
    line-height: 1.35em;
}

code[class*="language-"],
pre[class*="language-"]{
    font-size: ms(-3);
}

.post__content{
    p{
        hyphens: auto;
    }

    &>* + * {
        margin-top: lines(1);
    }

    img{
        margin-top: lines(1.5);
    }
}

h1,
h2,
h3{
    font-family: $font-heading;
    font-weight: 900;
    line-height: lines(1.5);
}

h1{
    font-size: $font-huge;
}

h2{
    font-size: $font-bigger;
}

h3{
    font-size: $font-normal;
}

i,
em,
blockquote p{
    display: inline-block;
    font-style: normal;
    transform: skewX(-8deg) translateX(3px);

    font-weight: 300;

    strong &,
    b &{
        font-weight: inherit;
    }

    &::first-line{
        text-indent: -3px;
    }
}

blockquote{
    text-align: center;
}

a{
    text-underline-offset: .15em;
    display: inline-block;
    &:hover{
        transition: font-weight 0.3s ease-in-out;
        font-weight: 800;
    }
}

.small{
    font-weight: 100;
    font-size: ms(-6);
}
.big{
    font-size: ms(2);
}
@media screen and (max-width: $width-tablet) {
    blockquote{
        padding: 1.5em;
    }
}

@media screen and (max-width: $width-mobile) {
    .post__content{
        li{
            margin-left: lines(1.25);
        }
    }
}