@font-face {
  font-family: "Spartan";
  src: url("../css/PT Root UI_VF.woff2") format("woff2");
  font-display: swap;
  font-weight: 1 1000;
  font-stretch: 75% 100%;
}

body{
  font-weight: 400;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

article > * + *{
  margin-top: lines(1);
}

article {
  :not(picture) > img,
  picture,
  video,
  pre{
    margin-top: lines(1.25);
  }

  h2,
  h3{
    margin-top: lines(2);
  }
}

pre[class*="language-"] {
  margin: lines(1) 0 0 0;
}

main {
  p,
  .hyphens {
    hyphens: auto;
  }
}

h1,
h2,
h3 {
  font-family: $font-heading;
  font-weight: 800;
}

h1 {
  font-size: $font-large;
  line-height: 1.25em;

  @include media-medium{
    font-size: $font-huge;
  }
}

h2 {
  font-size: $font-big;
  line-height: 1.25em;
  
  @include media-medium{
    font-size: $font-large;
  }
}

h3 {
  font-size: $font-normal;

  @include media-medium{
    font-size: $font-big;
  }
}

a {
  display: inline-block;
  text-underline-offset: 0.075em;

  &:hover {
    transition: font-weight 0.15s ease-in-out;
    font-weight: 600;
  }

  &:focus{
    text-decoration: none;
  }
}

.small {
  font-weight: 200;
  font-size: $font-small;
}
.big {
  font-size: $font-big;
}

i,
em,
blockquote p{
  //fake italic
  display: inline-block;
  font-style: normal;
  transform: skewX(-7deg);
  font-size: 0.98em;
}

blockquote {
  text-align: center;
  font-weight: 400;

  @include media-medium{
    padding: 0 3em;
  }
}

code[class*="language-"],
pre[class*="language-"],
code {
  font-size: $font-small;
  background: #3e3f37;
}

pre {
  padding: lines(0.25);
  background: #3e3f37;
  overflow-x: auto;
}

p > code{
  position: relative;
  border-radius: 2px;
  padding: lines(.125);
  bottom: lines(0.05);
  color: $color-font-dark;
}

@include media-dark {
  .small{
    font-weight: 400;
  }

  h1,
  h2,
  h3 {
    font-weight: 500;
  }
}

hr{
  @extend .happy-border;
  border-width: 0 0 2px 0;
}